@import '../../styles/_color.scss';

.bleed-right{
  padding-right: 0;
}

.full-bleed{
  padding: 0;
}

.no-flow{
  overflow: hidden;
}

.text-half-cont{
  height: 100%;
}

.neg-top{
  margin-top: -0.8rem;
  width: 100%;
}

.services-text-cont{
  background-color: white;
  padding-bottom: 8rem;
}

.text-section{
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 64%;
  margin: auto;
}

.text-section-alt{
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: auto;
  background-color: #68CDB9;
  padding: calc(29%) 4rem;
  vertical-align: middle;
}

.Landing_Container {
    display: block;
    width: 100%;
    overflow-x: hidden;
}

.Landing_Paragraph {
    color: black;
    font-family: 'Generic';
    font-size: 4rem;
}

.caps{
  text-transform: lowercase;
}

.main_image-1{
  width: 100%;
}

.main_about-label{
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 3.6rem;
  margin-top: 9.6rem;
  margin-bottom: 0rem;
}

.services_subhead{
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 4rem;
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
}

.services_main-body{
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0px;
  width: 75%;
}

.services_main-img-cont{
  width: 100%;
  padding: 0;
}

.services_main-img{
  width: 100%;
}

.insight_top-text-cont{
  background-color: #000000;
  color: #ffffff;
}

.main_team-text-cont{
  padding-bottom: 9.6rem;
  background-color: #FC6D81;
  margin-top: -0.2rem;
}

.main_services-text-cont{
  padding-bottom: 9.6rem;
  background-color: #68CDB9;
  margin-top: -0.2rem;
}

.services-spacer{
  margin-top: 16rem;
}

.services-oval{
  width: 80%;
  margin-left: 10%;
}

.services-oval-left{
  width: 80%;
  padding-left: 10%;
}

.services-image-small{
  display: block;
}

.services-image-large{
  display: none;
}

.services-img-cont{
  width: 100%;
  background-image: url('./images/services_oval-white.png');
  background-repeat: no-repeat;
  height: 300%;
}

.services-label{
  font-size: 2.4rem;
  text-align: center;
  vertical-align: middle;
}

.main_contact-text-cont{
  padding-bottom: 8rem;
  background-color: #000000;
  margin-top: -0.2rem;
  color: white;
}

.main_tbd-cont{
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
  font-size: 3.2rem;
  letter-spacing: 0.8rem;
}

.hr{
  border: 0.05rem solid #000000;
}

.hr-w{
  border: 0.05rem solid #ffffff;
  margin-bottom: 2.4rem;
}

.hr-ws{
  border: 0.05rem solid #ffffff;
  margin-bottom: 2.4rem;
  width: 75%;
  margin-left:0rem;
}

.contact_address{
  font-size: 1.8rem;
  letter-spacing: 0.08rem;
  color: #ffffff;
}

a.contact_mail-link{
  font-size: 1.8rem;
  letter-spacing: 0.08rem;
  color: #ffffff;

  &:hover{
    text-decoration: underline;
    color: $gray300;
  }
}


@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

  .services-image-small{
    display: none;
  }

  .services-image-large{
    display: block;
  }

}

@media only screen and (min-width: 1280px) {

}

@media only screen and (min-width: 1440px) {

}
