.Landing_Container {
    display: block;
    width: 100%;
    overflow-x: hidden;
}

.Landing_Paragraph {
    color: black;
    font-family: 'Generic';
    font-size: 4rem;
}

.caps{
  text-transform: lowercase;
}

.main_image-1{
  width: 100%;
}

.main_about-label{
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 3.6rem;
  margin-top: 9.6rem;
  margin-bottom: 0rem;
}

.main_about-subhead{
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
}

.main_body{
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0px;
}

.main_about-text-cont{
  padding-bottom: 8rem;
  background-color: #FCB756;
  margin-top: -0.2rem;
}

.main_team-text-cont{
  padding-bottom: 8rem;
  background-color: #FC6D81;
  margin-top: -0.2rem;
}

.main_contact-text-cont{
  padding-bottom: 8rem;
  background-color: #000000;
  margin-top: -0.2rem;
  color: white;
}

.main_tbd-cont{
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
  font-size: 3.2rem;
  letter-spacing: 0.8rem;
}

.hr{
  border: 0.05rem solid #000000;
}

.hr-w{
  border: 0.05rem solid #ffffff;
  margin-bottom: 2.4rem;
}
